h1 View Magazine
p
 b Name: 
 span &nbsp;
 span= magazine.name
 br
 b Price: 
 span &nbsp;
 span= magazine.sprice
 br
 b Authur:
 span &nbsp;
 span= magazine.authur
 br
 b Page:
 span &nbsp;
 span= magazine.page
 br
 b Exports:
 span &nbsp;
 span= magazine.exports
 br
 b Impports:
 span &nbsp;
 span= magazine.imports